extends layout

block content
  h1=title

  form(method='POST' action='')

    .form-group
      label(for="book") Book:
      select#book.form-control(type="select", name="book", placeholder="Select book" required)
        - 
          book_list.sort((a, b) => {
            const textA = a.title.toUpperCase(); 
            const textB = b.title.toUpperCase(); 
            return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;
          });
        
        option(disabled, selected, value) Select a book
        for book in book_list
          if selected_book
            option(value=book._id selected=(selected_book.toString()===book._id.toString() ? "selected" : false)) #{book.title}
          else
            option(value=book._id) #{book.title}

    .form-group
      label(for='imprint') Imprint:
      input#imprint.form-control(type='text' placeholder='Publisher and date information' name='imprint' required='true' value=((undefined===bookinstance) ? "" : bookinstance.imprint))

    .form-group
      label(for="status") Status:
      select#status.form-control(type='select', name="status", placeholder="Select status", required)

        option(disabled, selected, value) Select the copy's status
        for state in status_enum
          if bookinstance
            option(value=state, selected=(state===bookinstance.status) ? "selected" : false) #{state}
          else
            option(value=state) #{state}

    .form-group.n-due-back-group
      - const msPerDay = 24 * 60 * 60 * 1000;
      - const tomorrow = new Date(Date.now() + msPerDay)

      label(for='due_back') Date when book available:
      input#due_back.form-control(type='date', name='due_back', value=((undefined===bookinstance) ? "" : bookinstance.due_back_iso), min=DateTime.fromJSDate(tomorrow).toISODate())

    
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for err in errors
        li!= err.msg

  script.
    console.log("hilo");
    $(document).ready(function() {
      const toggleShowDueBack = function (event) {
        console.log(this);
        console.log(this.value);
        const target = $("#status")[0];

        console.log(target);
        console.log(target.value);

        if (target.value !== "" && target.value !== "Available") {
          $(".n-due-back-group").css("height", "70px"); //show
        }
        else {
          $(".n-due-back-group").css("height", "0"); // hide
        }
      } 

      toggleShowDueBack();
      $("#status").on("input", toggleShowDueBack);
    })