extends layout

block content

  h1 #{title}: !{genre.name}

  //- div(style="margin-left:20px; margin-top:20px")
  div(style="margin: 20px auto auto 20px;")

    h4 Books

    dl
      each book in genre_books
        div
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}

      else
        p This genre has no books

  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre
